* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* stili background boolzapp */

.top-bar {
    height: 100px;
    background-color: #009688;
}

main {
    height: calc(100vh - 100px);
    background-color: #d9dbd4;
}


/* stili app */

#app {
    position: relative;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    position: absolute;
    top: 20px;
    left: calc(50% - 40%);
}

/* stili nav */
nav {
    width: 900px;
}

/* stili mio profilo */

.my-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #eaeaea;
    height: 50px;
}

.profile {
    display: flex;
    align-items: center;
}

.img img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.my-profile .fa-solid {
    color: #b0b0b0;
    margin-left: 10px;

}

/* stili notifiche */

.notifiche {
    display: flex;
    padding: 10px;
    background-color: #8edafc;
}

.bell {
    margin-right: 7px;
}

.fa-bell-slash {
    font-size: 25px;
    padding: 10px;
    background-color: white;
    color: #8edafc;
    border-radius: 50%;
}

.notifiche a {
    color: gray;
}

/* stili search */

.search {
    padding: 10px;
    background-color: #eaeaea;
}

.search div {
    border: 1px solid #cbc9c9;
    border-radius: 10px;
    display: flex;
}

.search .fa-magnifying-glass {
    color: #b0b0b0;
    width: 55px;
    padding: 10px;
    background-color: white;
}

.search input {
    padding: 10px;
    border: none;
    width: 100%;
}

/* stili contacts */
.contacts {
    padding: 10px;
    background-color: white;
}

.contact {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #cbc9c9;
}

.contact-profile {
    display: flex;
}

.contact-profile .img {
    margin-right: 15px;
}

.gray {
    color: gray;
}



/* stili area messaggi */

.text-message {
    width: 100%;
}

/* stili user-chat */

.user-chat .img {
    margin-right: 10px;
}

/* stili area testo */

.area-testo {
    background-image: url(../img/sfondo.jpg);
    height: calc(100% - 100px);
    background-color: #dbd3cd;
}

ul {
    list-style-type: none;
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

li {
    width: 200px;
    padding: 5px 10px 10px 5px;
    border-radius: 5px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
}

/* stili send message */
.send-message {
    display: flex;
    padding: 10px 0;
    background-color: #f3eeea;
    align-items: center;
    height: 50px;
}

.send-message .fa-solid,
.send-message .fa-regular {
    width: 50px;
    font-size: 20px;
    color: gray;
    text-align: center;
}

.send-message input {
    width: 100%;
    padding: 7px;
    border: 1px solid #f3eeea;
    border-radius: 5px;
}



/* stili specifici */

.mio-text {
    background-color: #d5f9ba;
    align-self: flex-end;
}


.user-text {
    background-color: white;
}

.orario-message{
    font-size: 10px;
    align-self: flex-end;
}